{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main role="main" class="inner cover text-center">
        <h1 class="cover-heading">About</h1>
        <p class="lead">When you make an account at Cyberia, your interests and likes
        will guide us towards customizing your viewport to your needs as an individual. Being such a broad realm,
        some of the security news you read may not be necessary and it's our goal to put news in your hands that is
        relevant to your job functions.</p>

  </main>
{% endblock %}>